* {
  font-size: 16px;
  color: rgb(33, 37, 41);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.search-container {
  margin: 15px;
  display: flex;
  align-items: center;
}
.search-form {
  display: flex;
  align-items: center;
}
.search-input {
  width: 241px;
  background-color: rgb(255, 255, 255);
  border-color: rgb(206, 212, 218);
  padding: 6px 12px;
  border-radius: 4px;
}
.search-input:focus {
  border-color: #7952b3;
  box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);
}

.search-input:active {
  border-color: #7952b3;
  box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);
}
.search-input:disabled {
  background-color: rgb(233, 236, 239);
}

table {
  margin-top: 50px;
  border-collapse: collapse;
  text-align: center;
}

th,
td {
  border: 1px solid rgb(222, 226, 230);
  padding: 8px 20px;
}

th {
  font-weight: 700;
}

button {
  cursor: pointer;
}

.country-name {
  display: flex;
  align-items: center;
}
.country-name img {
  height: 40px;
  width: 40px;
  margin-right: 20px;
}
